{% extends "::layout.html.twig" %}
{% block title %}{{ parent() }} :: Mes fichiers uploadés {% endblock %}
{% block titlebar_title %} Mes fichiers uploadés {% endblock %}
{% block titlebar_ariane %} {{ parent() }} <span>Mes fichiers uploadés</span> {% endblock %}

{% block slider %}{% endblock %}
{% block content_type %}{% endblock%}

{% block content %}



{% endblock %} 