{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} :: Inscription {% endblock %}

{% block titlebar_title %}Inscription{% endblock %}
{% block titlebar_ariane %}
	{{ parent() }} <span>S'inscrire</span>
{% endblock %}

{% block fos_user_content %}

<div class="block_contact_us_type_1">
	<div class="send_message">
		<h4>S'inscrire</h4>
		<p class="text_subtitle_1">Merci de remplir le formulaire afin de créer votre compte.</p>


{% include "FOSUserBundle:Registration:register_content.html.twig" %}

	</div>
</div>
{% endblock fos_user_content %}

{% block right %}
<div class="sidebar">
	<div class="separator" style="height:37px;"></div>

		<div class="block_categories">
			<h6>Ou alors !</h6>
			<ul class="list_5">
				<li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
	<li><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a></li>
		</ul>
	</div>
	<div class="clearboth"></div>
</div>
{% endblock %}