{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} :: Identitfiants perdus {% endblock %}

{% block titlebar_title %}Identitiants perdus{% endblock %}
{% block titlebar_ariane %}
	{{ parent() }} <span>Identitfiants perdus</span>
{% endblock %}


{% block fos_user_content %}

<div class="block_contact_us_type_1">
	<div class="send_message">
		<h4>Je retrouve mes identifiants</h4>


		<div class="general_info_box error demo"><a href="#" class="close">Fermer</a>
			<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
		</div>

		<div class="separator" style="height:37px;"></div>
	</div>
</div>

{% endblock fos_user_content %}
